/* CustomPagination.css */

.pagination a {
  display: inline-block;
  padding: 8px;
  margin: 0 4px;
  color: #007bff;
  /* border: 1px solid #007bff; */
  border-radius: 4px;
  text-decoration: none;
}

.pagination a:hover {
  /* background-color: #acccee; */
  color: #fff;
}

.pagination .active {
  background-color: #007bff;
  height: 3.1em;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}
