.khan{
    width: 40%;
    margin: 0 auto;
    background-Color: rgb(240, 242, 245);
    color: black;
    margin-top: 5%;
    border-radius: 10px;
    opacity: 0.8;
}
.Register_from-item {
    padding: 5px;

}

label {
    float: left;
}

span {
    float: left;
    margin-top: -20px;
}

hr {
    width: 94%;
    margin-left: 3%;
}